# DNS-over-HTTPS using the QUIC protocol.
# New connections get initiated with 0-RTT if possible.
# enable-0rtt will overwrite the method to GET. 

[resolvers.cloudflare-doh-quic]
address = "https://cloudflare-dns.com/dns-query"
protocol = "doh"
transport = "quic"
enable-0rtt = true

[listeners.local-udp]
address = "127.0.0.1:53"
protocol = "udp"
resolver = "cloudflare-doh-quic"

