[resolvers.cloudflare-odoh]
# Address of the odoh proxy server. If empty, the target is used directly.
# address = "https://odoh-proxy.example.com/proxy"
protocol = "odoh"
# Address of the target. The hostname and path are passed to the proxy for forwarding
# of encrypted queries. No cert or bootstrap options for the target since the proxy
# connects to it on the client's behalf
target = "https://odoh.cloudflare-dns.com/dns-query"

# The ODoH config/key of the Target. Will be retrieved automatically if left empty.
target-config = ""

[listeners.local-udp]
address = "127.0.0.1:53"
protocol = "udp"
resolver = "cloudflare-odoh"

[listeners.local-tcp]
address = "127.0.0.1:53"
protocol = "tcp"
resolver = "cloudflare-odoh"
