[Unit]
Description=RouteDNS - DNS stub resolver and router
After=network.target

[Service]
Type=simple
DynamicUser=true
NoNewPrivileges=true
WorkingDirectory=/opt/routedns
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/opt/routedns/routedns config.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
